/* footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 200px;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px; /* 내용과의 여백 */
  box-sizing: border-box; /* padding 포함 크기 계산 */
}

/* Related 국립금오공과대학교 컴퓨터공학부 */
.content {
  font-weight: 700;
  font-size: 10px;
  line-height: 20px;
  color: #000000;
  display: flex;
  align-items: center;
}

/* @ CHIP_SAT Page 2024 */
.copyright {
  font-weight: 500;
  font-size: 10px;
  line-height: 20px; /* 통일된 line-height로 설정 */
  color: #000000;
  display: flex;
  align-items: center;
  text-align: center;
}
