/* 고정 헤더 */
.header {
  width: 100%;
  height: 311px;
  background: #d2e7f8;
  display: flex;
  flex-direction: column; /* 세로로 쌓이도록 설정 */
  align-items: center; /* 수평 중앙 정렬 */
  justify-content: center; /* 수직 중앙 정렬 */
  box-sizing: border-box; /* 패딩 포함하여 전체 크기 조절 */
}

/* 제목 스타일 */
.title {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 74px;
  letter-spacing: 0.03em;
  color: #1f98ff;
}

/* 로고 스타일 */
.logo {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  margin-top: 10px; /* 제목과의 간격 */
}
